<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
      <title>Aligning Buttons</title>
      
</head>
<body>
  <div class='container' style="height: 60px; padding-top: 10px;" >
    <button style='margin-right:16px;'>Save</button>
    <button style='margin-right:16px'>Delete</button>
    <button style='margin-right:16px'>Close</button>
    <button style='margin-right:16px'>Reset</button>
    <button style='margin-right:16px; float: right;'>Home Page</button>

</div>

    <div class="container">
      <form>
          <div class="row">
              <div class="col-6"><!--left side -->

                  <div class="form-group row">
                      <label for="fname" class="col-sm-6 col-form-label">First Name:</label>
                      <div class="col-sm-6">
                          <input type="text" class="form-control" id="fname">
                      </div>
                  </div>
  
                  <div class="form-group row">
                      <label for="lname" class="col-sm-6 col-form-label">Last Name:</label>
                      <div class="col-sm-6">
                          <input type="text" class="form-control" id="lname">
                      </div>
                  </div>  
                  <div class="form-group row">
                    <label for="fname" class="col-sm-6 col-form-label">First Name:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="fname">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="lname" class="col-sm-6 col-form-label">Last Name:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="lname">
                    </div>
                </div>  
                <div class="form-group row">
                  <label for="fname" class="col-sm-6 col-form-label">First Name:</label>
                  <div class="col-sm-6">
                      <input type="text" class="form-control" id="fname">
                  </div>
              </div>

              <div class="form-group row">
                  <label for="lname" class="col-sm-6 col-form-label">Last Name:</label>
                  <div class="col-sm-6">
                      <input type="text" class="form-control" id="lname">
                  </div>
              </div>  
              <div class="form-group row">
                <label for="fname" class="col-sm-6 col-form-label">First Name:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="fname">
                </div>
            </div>

            <div class="form-group row">
                <label for="lname" class="col-sm-6 col-form-label">Last Name:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="lname">
                </div>
            </div>  

              </div>  <!--left side end-->
  
              <div class="col-6">
                  <div class="form-group row">
                      <label for="password" class="col-sm-6 col-form-label">Password</label>
                      <div class="col-sm-6">
                          <input type="password" class="form-control" id="password" value="">
                      </div>
                  </div>
  
                  <div class="form-group row">
                      <label for="password2" class="col-sm-6 col-form-label">Password</label>
                      <div class="col-sm-6">
                          <input type="password" class="form-control" id="password2" value="">
                      </div>
                  </div>

                  <div class="form-group row">
                    <label for="fname" class="col-sm-6 col-form-label">First Name:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="fname">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="lname" class="col-sm-6 col-form-label">Last Name:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="lname">
                    </div>
                </div>  
                <div class="form-group row">
                  <label for="fname" class="col-sm-6 col-form-label">First Name:</label>
                  <div class="col-sm-6">
                      <input type="text" class="form-control" id="fname">
                  </div>
              </div>

              <div class="form-group row">
                  <label for="lname" class="col-sm-6 col-form-label">Last Name:</label>
                  <div class="col-sm-6">
                      <input type="text" class="form-control" id="lname">
                  </div>
              </div>  

              <div class="form-group row">
                <label for="fname" class="col-sm-6 col-form-label">First Name:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="fname">
                </div>
            </div>

            <div class="form-group row">
                <label for="lname" class="col-sm-6 col-form-label">Last Name:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="lname">
                </div>
            </div>  
              </div><!--right side -->
          </div>
      </form> 
  </div>
  
  <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
  </script>
</body>
</html>
